*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif
}
body{
    background-color: rgb(245, 245, 245)
}

nav{
    background-color: rgb(17, 63, 192);
    text-align: center;
    padding: 15px;
    /* width: 100vw; */
    min-width: 1160px;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    margin: 15px;
    font-size: 22px;
    transition: 0.2s;
}

/* ---Resposive Navbar and footer ----*/
.navbar{
    min-width: 100px;   /* doubt-1*/
}

nav a:hover{
    border-bottom: 1px solid #fff;
}

.cover-image img{
    min-width: 1190px;
    width: 100%;
    height: 78vh;
}

.places{
    text-align: center;
    /* margin-top: 30px; */
}
.places h2{
    font-size: 28px;
}

.heading-1{
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(114, 112, 112);
    display: inline-block;
    font-weight: bold;
    color: rgb(58, 58, 58);
}

.places table{
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.places table tr td{
    padding: 15px;
    /* margin: 10px;   Margin is not working */
}


.place-name{
    padding: 10px;
    text-decoration: none;
}

.img-bg{
    background-color: #fff;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    border-radius: 3px;
}

.img-bg a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: 0.2s;
}

.img-bg a img{
    width: 350px;
    height: 220px;
    transition: 0.2s;
}

.img-bg:hover{
    background-color: rgb(56, 55, 55);
    padding: 2px;
    box-shadow: none;
    border-radius: 5px;
}
.img-bg:hover a img{
    width: 345px;
    height: 215px;
    filter: blur(1.5px);
}
.img-bg:hover a{
    color: #fff;
    /* font-size: 18px; */
}

/* ---------Styling for Paragraphs----------- */

.detail{
    text-indent: 28px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

.detail p{
    line-height: 30px;
    word-spacing: 2px;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 0.5px;
}


/* ------Destinantions' cover picture stylings */
.destination-image img{
    width: 100%;
    height: 79vh;
}

/* ------------------FORM STYLING----------------- */

.form-body{
    text-align: center;
    border: 2px solid #000;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
    border: 0.5px solid lightgrey;
    background: white;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.heading{
    text-align: center;
}

input:not(.btn), textarea{
    width: 70%;
    margin: 12px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 16px;
}

input:focus,
textarea:focus{
    outline: none !important;
    background: rgba(248, 242, 242, 0.685);
}

textarea{
    border: 1px solid grey;
}

.btn{
    width: 150px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    background: rgb(17, 63, 192);
    border: none;
    color: #fff;
    transition: 0.2s;
    font-weight: bold;
}
.btn:hover{
    border: 1px solid rgb(17, 63, 192);
    background: antiquewhite;
    color: rgb(17, 63, 192);
}



/* ------------Previous and Next Buttons------------ */
.navBtns{
    margin: 10px 65px;
}

.nextBtn{
    float: right;
}


.navBtns span button{
    cursor: pointer;
    padding: 5px;
    background: rgb(17, 63, 192);
    border: none;
    color: #fff;
    border: 1px solid rgb(17, 63, 192);
    transition: 0.2s;
    width: 80px;
    font-size: 16px;

}

.navBtns span button:hover{
    color: rgb(14, 53, 161);
    background: #fff;
    border: 1px solid rgb(14, 53, 161)
}


/*------------- FOOTER STYLING----------------------- */
footer{
    background-color: rgb(2, 2, 75);
    padding: 30px;
    text-align: center;
    min-width: 1130px;
}

footer a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}

/* ------fixed and responsive footer */

.footer-fixed{
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 30px 0px;
}
